
.education_container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-left: 300px;
    padding-top: 50px;
}

.education_container > div {
    background: linear-gradient(180deg, #aa94fe 0%, #7c5fe6 100%);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.education_container > div:hover{
    background: transparent;
    border-color: #7c5fe6;
    cursor: default;
}

.education_container > div h1 {
    text-align: center;
    margin-bottom: 2rem;
    color:  #7c5fe6;
}

.Education_content {
    display: block;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.Education_details {
    display:flex;
    gap: 1rem;
}

.name {
    padding-top: 50px;
}
@media screen and (max-width: 1025px) {
    .education_container {
        grid-template-columns: 5fr;
        gap: 0;
        padding-left: 30px;
    }

    .education_container > div {
        width: 80%;
        padding: 1%;
        margin: 0 auto;
    }

    .Education_content {
        padding: 1rem;
    }
    
}

@media screen and (max-width: 600px) {
    .education_container {
        gap: 1rem;
    }

    .education_container > div {
        width: 100%;
        padding: 2rem 1rem;

    }
}